## 7.3 lambda λ function
> `lambda <인자>: <인자 활용 수행 코드>`   
`(lambda <인자>: <인자 활용 수행 코드>)(<인자>)`

`lambda_function = lambda <인자> : <인자 활용 수행 코드>`   
`lambda_function(<인자>)`

람다 함수를 이용해 입력된 수의 제곱을 반환하는 코드

In [1]:
(lambda x : x**2) (3)

9

람다 함수를 변수에 할당. 인자를 입력해서 호출

In [2]:
mySquare = lambda x : x**2
mySquare(2)

4

여러 개의 인자를 입력 받아 연산 결과를 반환하는 람다 함수   
`x, y, z`라는 세 개의 인자를 입력받아 `2*x+ 3*y + z` 반환

In [3]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

## 7.4 내장 함수

### 형 변환 함수

#### 정수형
`int()` : 실수나 문자열(정수 표시) 데이터를 정수로 변환. 실수의 경우 소수점 이하는 버림.

In [4]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [5]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

#### 실수형
`float()`: 정수나 문자열(정수 및 실수 표시) 데이터를 실수로 변환

In [6]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [7]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

#### 문자형
`str()`: 정수나 실수 데이터를 문자열로 변환

In [8]:
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [9]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

#### 리스트, 튜플, 세트형으로 변환

이전의 내용과 겹쳐서 코드는 `list()`,`tuple()`,`set()` 참조.

In [10]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [11]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [12]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 1, 2, 'def']

In [13]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [14]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {'abc', 1, 2, 'def'} {'abc', 1, 2, 'def'}

###  bool 함수(True or False)
#### 숫자열을 인자로 bool 함수 호출..
0이면 `False`, 0이외의 숫자이면 `True`

#### 문자열을 인자로 bool 함수 호출
공백 있는 빈 문자열이나 문자열이 있으면 `True`, 문자열이 없거나 None이면 `False`

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [15]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트

False

In [16]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

True

In [17]:
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플

False

In [18]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

True

In [19]:
mySetA = {}
bool(mySetA) # 인자: 항목이 없는 빈 세트

False

In [20]:
mySetA = {10,20,30}
bool(mySetA) # 인자: 항목이 있는 세트

True

#### bool 함수 활용

In [21]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [22]:
print_name("James")

입력된 이름: James

In [23]:
print_name("")

입력된 이름이 없습니다.

In [24]:
print_name(" ")

입력된 이름:

### 최대값과 최소값을 구하는 함수
내장함수 `min()`, `max()`
> 문자열을 비교할 때: 대문자보다 소문자가 더 작음   
> 문자열로 된 숫자와 알파벳 비교: 숫자가 더 작음

In [28]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [29]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

튜플

In [30]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

세트

In [31]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 값을 구하는 함수
`abs()`

In [33]:
[abs(3.14), abs(-3.14)]

[3.14, 3.14]

In [34]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

### 항목의 개수를 구하는 함수
`len()` - 항목의 길이/개수

In [35]:
len("ab cd") # 문자열

5

In [36]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [37]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [38]:
len({'a', 'b', 'c', 'd'}) # 세트

4

In [39]:
len({1:"Thomas", 2:"Edward", 3:"Henry"}) # 딕셔너리

3

### 내장 함수의 활용
`sum()`과 `len()`을 쓰지 않고 총점과 평균값 구하기

In [42]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0                     # 총점 계산을 위한 초깃값 설정
subject_num = 0                   # 과목수 계산을 위한 초깃값 설정
for score in scores:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산
    
average = score_sum / subject_num # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

`sum()`과 `len()`을 쓰고 총점과 평균값 구하기

In [43]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [44]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95

In [50]:
from statistics import mean 
scores.mean()

AttributeError: 'list' object has no attribute 'mean'