# Review
## Index Slicing 
리스트 중 일부 항목 가져오기

> 리스트\[i_start : i_end \]   
> 리스트\[i_start : i_end : i_step \]

i_start : 생략하면 인덱스는 0으로 간주
i_end : 생략하면 인덱스는 마지막이라고 간주
i_step : 인덱스의 스텝(증가 단계)

# Tuple 
숫자, 문자열, 볼, 리스트, 튜플,세트, 딕셔녀리 등으로 만들 수 있고 리스트 속성과 유사.
하지만 한번 입력/생성하면 수정할 수가 없음. 소괄호(()) 를 이용해 튜플을 생성, 항목을 반점(,)으로 구분

In [1]:
tuple1 = (1,2,3,4)

In [2]:
type(tuple1)

tuple

튜플 요소 지정

In [3]:
tuple1[1]

2

소괄호를 생성하지 않고 튜플 생성

In [7]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

인자가 하나만 있는 튜플 생성   
**※항목을 입력한 후 반드시 반점(,)을 입력할 것**

In [5]:
tuple3 = (9,)
tuple4= 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

*튜플은 변경/삭제 되지 않음 *

In [6]:
tuple1
tuple1[1]=5

TypeError: 'tuple' object does not support item assignment

In [8]:
del tuple1[1]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
tuple5= ('a','b','c','d','e','f')
tuple5.index('c')

2

In [10]:
tuple6=('a','a','a','b','b','c','d')
tuple6.count('a')

3

# Set
수학의 집합 개념. 단, 데이터의 순서가 없고 데이터를 중복해서 쓸 수 없다.   
메서드 이외에 집합의 기본이 되는 `교집합, 합집합, 차집합`을 구하는 메서드 사용할 수 있다.

In [12]:
set1={1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)
set1==set1a

{1, 2, 3}
{1, 2, 3}

True

In [13]:
type(set1)

set

## 교집합 합집합 차집합
메서드 | 기호 표시 | 사용 예
 ---|---|---|
 Intersection 교집합| $A \cap B$ | `A.intersection(B) `|
 Union 합집합|  $A \cup B$ | `A.union(B) `|
 Difference 차집합 | $A-B$ | `A.difference(B) `|

### 메서드 이용

In [16]:
A= {1,2,3,4,5} #set A
B= {4,5,6,7,8,9,10} #set B
A.intersection(B) #A에 대한 B의 교집합

{4, 5}

In [17]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
A.difference(B)

{1, 2, 3}

### 연산자

In [19]:
A&B

{4, 5}

In [20]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
A-B

{1, 2, 3}

# 리스트 ↔ 튜플 ↔ 세트 데이터 타입 변환
`list(),tuple(),set()`

In [22]:
a = [1,2,3,4,5]
type(a)

list

In [23]:
b= tuple(a)
type(b)

tuple

In [24]:
c=set(a)
type(c)

set

In [25]:
print(a,b,c)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {1, 2, 3, 4, 5}

In [26]:
print(type(a),type(b),type(c))

<class 'list'> <class 'tuple'> <class 'set'>

# 딕셔너리 [사전] 표제어: 그에 대한 설명

* **key** 딕셔너리 표제어
* **value** 딕셔너리 설명

1. 키와 값은 항상 쌍(key and values are always pair) 
2. 인덱스 대신 키를 이용해 값을 다룸
3. 키는 임의로 지정한 숫자나 문자열이 될 수 있으며
4. 값으로는 어떤 데이터 타입도 가능

### 딕셔너리 만들기
1. 데이터 전체를 중괄호{}로 감싸서 만듦. (set 연산자)
2. 키와 값의 구분을 **콜론(:)**으로 함
3. 키와 값으로 이루어진 각 쌍은 **반점(,)**로 구분

In [27]:
country_capital = {'영국':'런던','프랑스':'파리','스위스':'베른','호주':'멜버른','덴마크':'코펜하겐'}
print(country_capital)
print(type(country_capital))

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}
<class 'dict'>

In [28]:
country_capital[0]

KeyError: 0

In [29]:
country_capital['영국']

'런던'

In [30]:
country_capital['런던']

KeyError: '런던'

### 딕셔너리 다루기

In [31]:
country_capital['독일']='베를린'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [32]:
country_capital['호주']='캔버라'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [33]:
del country_capital['덴마크']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

## 딕셔너리 메서드 활용하기

딕셔너리 메서드 | 설명 | 사용 예
--- | --- | --- 
`keys().` | 딕셔너리에서 키 전체를 리스트 형태로 변환 | `dict_data.keys()` |
`values().` | 딕셔너리에서 값 전체를 리스트 형태로 변환 | `dict_data.values()` |
`items()` | 딕셔너리에서 키와 값의 쌍을 (키,값)처럼 튜플 형태로 변환 | `dict_data.items()`
`update(dic_data2)` | 딕셔너리에서 데이터('dict_data2')추가 | `dic_data.update(dic_data2)`
`clear()` | 딕셔너리의 모든 항목 삭제 | `dic_data.clear()`